body {
    background-color: black;
    display: flex;
    flex-direction: column;
}

.button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    background-color: #39066b;
    border: none;
    border-radius: 15px;
}

.button:hover {
    cursor: pointer;
    background-color: red;
}

.button-function {
    width: 550px;
    height:100px;
    margin: 30px auto;
}